.logo img {
    width: 150px;
}

.card {
    /* max-height: 298.68px !important; */
}

#news-list {
    padding: 20px;
}

.textArea #noteInput {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 150px;
}

.textArea #noteButton {
    border: none;
    border-radius: 10px;
    background-color: rgb(250, 176, 4);
    padding: 8px 15px;
    font-size: 15px;
    font-weight: bold;
}


/* calculator */
table#calcu {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

table#calcu input[type="button"] {
    width: 100%;
    padding: 15px 25px;
    background-color: rgb(228, 230, 230);
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
}

table#calcu input[type="text"] {
    padding: 18px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}